// @theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
// @theme "/usr/share/rofi/themes/iggy.rasi"
//@theme "/usr/share/rofi/themes/fancy.rasi"

@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"


@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"

* {
    font: "Hack Nerd Font 11";
}
